{% extends 'base.html.twig' %}

{% block header_img %}{% endblock %}

{% block header_title %}<h1>Accès non autorisé</h1>{% endblock %}

{% block body %}
    <div class="alert alert-warning" role="alert">
            <h3>La page que vous demandez nécessite des droits spécifiques.</h3><br>
    </div>
    <a href="{{ path('homepage') }}" class="btn btn-warning pull-right">Accueil</a>
{% endblock %}
